/Laboratorio1/nbproject/private/
/Laboratorio1/build/
/Problema 2/nbproject/private/
/Problema 2/build/
/Problema3/nbproject/private/
/Problema3/build/
/Problema4/nbproject/private/
/Problema1/nbproject/private/
/Problema4/build/